main{
	width: 90vw;
	margin: auto;
}

form{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	/* background: radial-gradient(circle, rgba(85,215,1,1) 0%, rgba(21,175,113,1) 100%); */
	/* border-radius: 10px; */
	padding: 20px;
}

fieldset{
	border-radius: 10px;
	margin: 10px 0;
	/* color: white; */
	/* border-color: white; */
}

legend, fieldset ~ label{
	/* color: white; */
	font-size: large;
}



.cut {
	display: flex;
	flex-direction: column;
	width:40%;
	margin: auto;
}

fieldset input {
	margin: 5px 0;
}

.form_split {
	position: relative;
	display: flex;
	flex-direction: column-reverse;
	margin: 5px 0px;
}

form input, form select {

	outline: none;
	border-radius: 5px;
}

input ~ label {
	position: absolute;
	display: flex;
}

input ~ label , select ~ label{
	position: relative;
	border-radius: 5px;
	width: fit-content;
	padding: 2px 5px;
}

thead {
	background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}


