.header-table {
	display: flex;
	justify-content: space-between;
}

.main {
	width: 90vw;
	margin: auto;
}

table{
	width: 100%;
	flex-direction: column;
	margin: 20px auto;
}

tr {
	text-align: center;
}

tbody tr:nth-child(2n+1){
	background-color: lightgrey;
}

.tfooter {
	display: flex;
	justify-content: space-between
}

.pagination {
	/* background-color: blue; */
	display: flex;
	width: max-content;
	justify-content: end;
}

.current_employees_tab {
	margin-top: 20px;
	width: 100%;
	height: 90vh;
}

.paginationDisable{
	background: none;
	border: 1px solid black;
}

.paginationUnable{
	background-color: lightgrey;
	color: black;
	pointer-events: none;
	width: 30px;
	height: 30px;
}

button:hover {
	cursor: pointer;
}

th{
	background-image: url('../../asset/sort.png');
	background-position: right;
	background-size: 15px;
	background-repeat: no-repeat;
	padding: 5px 10px;
	text-transform: none;
}